<footer class="footer">
  <div class="navigation-container">
    <ul class="navigation">
      <li routerLink="/home" routerLinkActive="active">Home</li>
      <li routerLink="/characters" routerLinkActive="active">Characters</li>
    </ul>
  </div>
  <div class="made-by">
    <p>Diego Pagini</p>
    <div class="icons-container">
      <a
        href="https://www.linkedin.com/in/diego-pagini-3b5401189/"
        target="_blank"
        ><img src="assets/icon/in.png"
      /></a>
      <a href="https://github.com/diegopagini" target="_blank"
        ><img src="assets/icon/gh.png"
      /></a>
    </div>
  </div>
  <div class="icon-container"></div>
</footer>
