<section>
  <!-- Slider main container -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img src="../../assets/img/banner1.jpg" alt="banner" />
      </div>
      <div class="swiper-slide">
        <img src="../../assets/img/banner2.jpg" alt="banner" />
      </div>
      <div class="swiper-slide">
        <img src="../../assets/img/banner3.jpg" alt="banner" />
      </div>
    </div>
  </div>
</section>
<section class="main">
  <article class="info">
    <h1>Rick y Morty</h1>
    <p>
      Rick y Morty (en inglés: Rick and Morty) es una serie de televisión
      estadounidense de animación para adultos creada por Justin Roiland y Dan
      Harmon en 2013 para Adult Swim. La serie sigue las desventuras de un
      científico, Rick, y su fácilmente influenciable nieto, Morty, quienes
      pasan el tiempo entre la vida doméstica y los viajes espaciales,
      temporales e intergalácticos. Roiland es el encargado de darle voz a los
      dos personajes principales, y la serie también incluye las voces de Chris
      Parnell, Spencer Grammer y Sarah Chalke. Los orígenes de la serie pueden
      encontrarse en un cortometraje rudimentario animado por Roiland para el
      festival de cine Channel 101 llamado Doc and Mharti, una parodia de los
      principales protagonistas de Back to the Future. Cuando la cadena NBC
      despidió a Harmon en 2013 por discusiones entre él y los ejecutivos de la
      serie que había creado, Community, él y Roiland desarrollaron una serie
      basada en los personajes ya creados por Roiland.
    </p>
  </article>
  <section class="img-section">
    <img src="../../assets/img/banner4.jpg" alt="banner" />
  </section>
  <article class="info">
    <h2>Argumento</h2>
    <p>
      Rick Sánchez es un ejemplo del típico "científico loco". Es un genio, pero
      es irresponsable, alcohólico, egoísta, un poco depresivo y con poca
      cordura. Rick por diferentes razones termina mudándose a la casa de su
      hija Beth y en ese momento se encuentra con su nieto Morty; un chico de 14
      años de edad, tímido y no muy listo. Al juntarse con su nieto, Rick y
      Morty viven una variedad de aventuras a lo largo del Cosmos y Universos
      paralelos. Y es mediante tantas vivencias y reflexiones que Rick busca que
      su nieto Morty no acabe como su padre, Jerry, un hombre muy poco exitoso
      que a pesar de tener buenas intenciones resulta ser bastante inútil en
      muchas ocasiones y depende mucho de su esposa, Beth, hija de Rick. A pesar
      de estar muy apegados, Rick y su nieto experimentan momentos en los que
      Summer, hermana de Morty, se une en ocasiones a las pintorescas aventuras
      provocadas por Rick.
    </p>
  </article>
</section>
