.swiper-slide img {
  width: 100%;
}

.info {
  text-align: center;
  margin: 3rem 1rem;
  h1,
  h2 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.8rem;
  }
}

.img-section {
  img {
    width: 100%;
  }
}
